/* Side Menu */
.filter {
    font-family: Impact;
    font-size: 25px;
    padding: 0px;
    margin: 0vh 5vw;
    background-color: rgb(193, 167, 214);
    width: 150px;
    height: 200px;
    position: absolute;
    left: -5%;
    top: 30%;
    border-style: solid;
    text-align: left;
}

/* Grid of Product Images */
.items {
    overflow: scroll;
    width: 1760px;
    height: 875px;
    position: absolute;
    left: 150px;
}

/* "Shop Our Merch Store" */
.merch {
    font-family: Impact;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}


/* Grid Structure
.row {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    margin: 20px 20px 20px 20px;
    flex: 15%;
    max-width: 20%;
    padding: 0 4px;
} */

.products img {
    margin: 20px 20px 20px 20px;
    vertical-align: middle;
    width: 80%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-color: rgb(24, 23, 23);
}

/* React to cursor hover */
.products img :hover {
    width: 95%;
    /* margin: 10px 8px 8px 10px; */
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    .items {
        overflow: scroll;
        width: 700;
        height: 875px;
        position: absolute;
        left: 150px;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    .items {
        overflow: scroll;
        width: 500;
        height: 875px;
        position: absolute;
        left: 150px;
    }
}

.popUp {
    width: 600px; 
    height: 600px;
    border-radius: 6px;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/*pop up form*/
.form {
    border: 4px solid black;
    width: 50%; 
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    z-index: -1000;
    opacity: 0;
}

.opaque {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=15);
    opacity: 0.3;
}

.openForm {
    z-index: 1000;
    opacity: 1;
}

.exit {
    width: 50px; 
    height: 50px;
    position: absolute;
    right: 2%;
    top: 2%;
}

.add {
    position: absolute;
    right: 2%;
    bottom: 2%;
}

/*pop up box picture*/
.fitted {
    width: 350px; 
    height: 350px; 
    left: 5%;
    top:20%;
    position: absolute;
}

/*pop up box paragraph*/
.sized {
    position: absolute;
    width: 250px;
    height: 400px;
    top: 25%;
    right: 10%;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif
}

.cancel {
    width: 35px;
    height: 35px;
}

.carty {
    top: 3%;
    right: 3%;
    position: absolute;
}