.App {
    font-family: sans-serif;
  }
  
  article {
    padding: 10px;
    background-color: CornflowerBlue;
    color: white;
    text-align: center;
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    grid-auto-rows: 100px;
    /* width: 70%; */
    height: 700px;
    width: 1600px;
    list-style: none;
    overflow:auto;
    position:relative;
    left: 170px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  body {
    margin: 0;
    background-color: lightgrey;
  }
  
  .topnav {
    background-image: linear-gradient(to right top, #e0d506, #e8df41, #f0e863, #f7f281, #fffb9d);
    /* background-color: gold; */
    overflow: hidden;
    width: 100%;
    font-size: 17px;
}
